a {
  color: #FFFF00;
}
a:hover, a:focus {
  color: #FFFF00;
  text-decoration: underline;
  cursor: url(https://github.com/sk2282/ECE3400_Team8/blob/master/pictures/General/LightSaber_Blue.cur?raw=true), auto;
}
body {
  cursor: url(https://github.com/sk2282/ECE3400_Team8/blob/master/pictures/General/bb-8_cursor.png?raw=true), auto;
}
